{
    "name": "YOUR_USER_NAME", 
    "pass": "YOUR_PASSWORD",
    "ifttt": "https://maker.ifttt.com/trigger/EVENT_NAME/with/key/YOUR_IFTTT_KEY",
    "anti-captcha": "YOUR_ANTI_CAPTCHA_KEY",
    "mailgun": {
        "domain": "MAILGUN_DOMAIN.mailgun.org",
        "api": "key-YOUR_PRIVATE_KEY",
        "to": "YOUR_EMAIL_ADDRESS"
    },
    "dropbox": "DROPBOX_ACCESS_TOKEN"
}